.App {
  text-align: center;
  display: flex;
  flex-flow: column;

}

.top{
  flex: 20%;
  background-color: red;
}

.bottom{
  flex: 80%;
  display: flex;
  flex-flow: row;
}

.sideblock{
  flex: 20%;
  background-color: gold;
  height: 22vh;
  display: flex;
}

.sideblock >h3{
    align-content: center;
}


.cont{
  flex: 60%;
  background-color: black;
  height: 90vh;
}
